.title {
    height: 40%;
    background-color: #FFEBA4;
    min-height: 300px;
}
.wave {
    width: 100%;
    height: 30px;
    background-color: #FFEBA4;
    background-repeat: repeat;
    background-image: url("/src/assets/wave.svg");
}

.wrapper {
    position: relative;
    top: 100px;
    left: calc(50% - 160px);
    width: 320px;
    height: 186px;
    background-color: #FFFBF2;
    border-radius: 26px / 26px;
    padding: 36px 36px;
}
.CardText {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    height: 100%;
}
.body {
    height: calc(60% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}