.title {
    height: 40%;
    min-height: 300px;
}
.wave {
    width: 100%;
    height: 30px;
    background-repeat: repeat;
    background-image: url("/src/assets/wave.svg");
}

.wrapper {
    position: relative;
    top: 100px;
    left: calc(50% - 160px);
    width: 320px;
    height: 186px;
    background-color: #FFFBF2;
    border-radius: 26px / 26px;
    padding: 36px 36px;
}
.CardText {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button{
    display: none;
}
.wrapper:hover button{ 
    display: block;
}
.edit{
    background-image: url('/src/assets/edit.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-color: #ffff;
    border-style: none;
}
.editBox{
    /* height: 81px;
    width: 218px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap {
    width: 100%;
    height: 100%;
}
.bodyWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    width: auto;
}
.filter {
    margin: 12px 0 8px auto;
}
.contents {
    border: solid 1px #713D00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.circle {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-radius: 9px;
}
.inputGroup {
    display: flex;
    margin-left: 16px;
    margin-bottom: 8px;
}
.filterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 350px;
    padding: 0 40px;
}
.filterBorder {
    border-radius: 20px;
    border: 1px solid rgba(113, 61, 0, 0.50);
    background: #FFF;
    padding: 24px;
}
.apply {
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    background: #D6B997;
    padding: 5px 2px;
    width: 64px;
}