.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 175px;
    width: 100%;
    justify-content: center;
    gap: 55%;
    @media (min-width: 1000px) {
        gap: 75%;
    }
}
.profileContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85px;
    float: left;
    color: var(--text-brown-color);
}
.calContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2.userName{
    font-family: 'KyoboHand';
    font-size: 28px;
    font-weight: 500;
}
h4.userMood{
    font-size: 16px;
    font-weight: 400;
}
img.userIcon{
    margin-bottom: 10px;
}
.todayCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid rgba(113, 61, 0, 0.5);
    height: 175px;
    color: var(--text-brown-color);
}

.userLogContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
}

h4.todayDate{
    font-family: 'KyoboHand';
    font-size: 16px;
    font-weight: 600;
}
.cardContent h5{
    font-family: 'Pretendard';
    color: #51372B;
    font-weight: 400;
}